{
  "plugins": [],
  "printWidth": 100,
  "tabWidth": 4,
  "endOfLine": "auto",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true
}
