.gameOverScreen {
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex-basis: 624px;
}

.score {
    opacity: .5;
    margin-bottom: 8px;
    display: block;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.16;
}

.title {
    margin-bottom: 64px;
}

.main {
    display: flex;
    gap: 32px;
    align-items: center;
}

.media {
    flex-basis: 624px;
}

@media (max-width: 991px) {
    .main {
        flex-direction: column;
        min-height: 100vh;
        gap: 40px;
    }

    .media {
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        align-items: flex-end;
    }
    .content {
        flex-grow: 1;
        flex-basis: 50%;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .title {
        text-align: center;
    }

    .score {
        text-align: center;
        font-size: 18px;
    }
}