.question {
    font-size: 32px;
    font-weight: 600;
    max-width: 624px;
    line-height: 1.16;
}

@media (max-width: 991px) {
    .question {
        padding: 0 16px;
        text-align: center;
        font-size: 18px;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
    }

}