.gameScreen {
    background: var(--black-5);
    flex: 1;
    display: flex;

}

.questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 0;
    max-width: 840px;
}

.content {
}

.main {
    flex-grow: 1;
    padding: 13vh 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.sidebar {
    padding: 40px 0;
    flex-basis: 25%;
    background: var(--white-100);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 991px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: var(--black-5);
        transform: translateX(100%);
        transition: var(--transition);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .questions {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .main {
        padding: 24px 0;
    }
}